@charset "utf-8";
/* CSS Document */

/* researcher.css
------------------------------------------ */

/* resLinkBlock01
------------------------------------------ */
.resLinkBlock01 {
    background: #ffffff !important;
    background-image: none !important;
	height: 483px;
	padding: 0.75rem 0 12px 12px;
}