@charset "utf-8";

/* 241030 */
#contentA {
	height: 915px;
	margin-bottom: 35px;
	background-size: contain;
}

.contentInnerFream {
	width: 786px;
}

.indexContentMenuLi {
	height: 445px;
}

[data-date='221117'] .indexContentMenuLi02 {
	height: 250px;
}

#contents .laboratoryArea,
#contents .styleArea {
	width: 393px;
}

#contents .laboratoryArea[data-date='221117'],
#contents .styleArea[data-date='221117'] {
	height: 895px;
}